/* custom styling */

/* START importing fonts */
/* CREDIT FOR 'Libre Caslon Condensed' GOES TO ERTEKIN ERDIN */
/* https://github.com/ertekinno/libre-caslon-condensed/tree/main */

@font-face {
  font-family: "Libre Caslon Condensed";
  src: url(./fonts/LibreCaslonCondensed-Italic.woff2) format("woff2");
  font-style: italic;
  font-weight: 300;
}

@font-face {
  font-family: "Libre Caslon Condensed";
  src: url(./fonts/LibreCaslonCondensed-Regular.woff2) format("woff2");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Libre Caslon Condensed";
  src: url(./fonts/LibreCaslonCondensed-Medium.woff2) format("woff2");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "Libre Caslon Condensed";
  src: url(./fonts/LibreCaslonCondensed-MediumItalic.woff2) format("woff2");
  font-style: italic;
  font-weight: 500;
}

@font-face {
  font-family: "Libre Caslon Condensed";
  src: url(./fonts/LibreCaslonCondensed-SemiBold.woff2) format("woff2");
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: "Libre Caslon Condensed";
  src: url(./fonts/LibreCaslonCondensed-SemiBoldItalic.woff2) format("woff2");
  font-style: italic;
  font-weight: 600;
}

/* END importing fonts */

/* START general styling (icons/elements used throughout the whole site) */

:root {
  cursor:
    url("./components/customIcons/diamond-sparkles-cursor.png") 16 16,
    auto; /* do a spade icon? */
  background-color: #f5f7f1;
  /* background-color: #fff; */
}

a {
  border: 1px dotted #000;
  border-radius: 5px;
  text-decoration: none;
  padding: 0.25rem 0.25rem 0.25rem 0.55rem;
  color: #000;
}

a:hover,
a:focus {
  border: 1.5px solid #000;
  font-weight: 500;
  background-color: #fff;

  .spadeClickIcon path {
    fill: #000;
  }
}

.spadeClickIcon {
  display: inline-block;
  vertical-align: baseline;
}

/* in liu of using interpunct */
span.navIcons {
  font-size: 0.5rem;
  vertical-align: middle;
}

/* END general styling */

.homeContainer {
  max-width: 75vw;
  margin: 0 auto;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  text-align: center;
}

body {
  font-family: "Libre Caslon Condensed", serif;
}

/* START not working rn — bounce animation */
.introYBounce {
  transform: rotate(0deg);
}

span .introYBounce:focus,
span .introYBounce:active {
  transform: rotate(45deg);
  transition: transform 0.3s cubic-bezier(0.3, 0.8, 0.3, 2.3);
  /* transition: transform 1500ms linear(
    0,
    0.013 0.6%,
    0.05 1.2%,
    0.2 2.5%,
    0.971 47.2%,
    1.012 59.1%,
    0.995 70.8%,
    1
  ); */
}
/* END not working rn — bounce animation */

.introHeader {
  font-style: normal;
  font-weight: 600;
  font-size: 5rem;
  line-height: 5rem;
  letter-spacing: -0.1rem;
  margin: 2.5rem auto;
}

.introDek {
  color: #676767;
  font-weight: 300;
  font-size: 1.5rem;
  max-width: 75vw;
  margin: 1rem auto;
  text-align: center;
}

.introDekPartTwo {
  color: #5f7539;
  font-style: italic;
  font-weight: 500;
  letter-spacing: 0.05rem;
}

/* START custom styling for CARDS section */

.cardWrapper,
.aboutWrapper,
.workWrapper {
  display: block;
  margin-bottom: 3rem;
}

.cardContainer {
  display: inline-block;
  width: 15rem;
  height: 20rem;
  margin: 1rem;
  /* perspective: 10px; */
}

.card {
  width: 100%;
  height: 100%;
  position: relative; /* sides positioned relative to card */
  transition: transform 0.5s ease;
  transform-style: preserve-3d;
}

/* .card p {
  font-family: 'Libre Caslon Condensed', serif;
  weight: 300; 
  font-size: 1rem;
  font-style: normal; 
  margin: 0 auto; 
} */

.card:hover,
.card:focus {
  transform: rotateY(180deg);
}

.front,
.back {
  border: 1.5px solid #000;
  border-radius: 10px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background-color: #fff;
}

.cardRole {
  font-size: 1rem;
  font-weight: 500;
  font-style: normal;
  line-height: 1;
}

.flipInstruct {
  font-size: 0.75rem;
  font-style: italic;
}

.back {
  transform: rotateY(180deg);
}

.front > p,
.back > ul {
  list-style-type: none;
  /* list-style: none; */
  font-size: 0.9rem;
  padding: 1rem;
}

/* END custom styling for CARDS section */

/* START custom styling for NAV section */

.navMenu {
  max-width: 75vw;
  margin: 0 auto;
  font-size: 1rem;
  line-height: 2.5rem;
  padding-top: 1rem;
  padding-bottom: 2rem;

  a {
    white-space: nowrap;
  }

  @media (max-width: 672px) {
    max-width: 80vw;
    padding-top: 1rem;
    padding-bottom: 2rem;
  }
}

/* END custom styling for NAV section */

.navHeader,
.aboutHeader,
.workHeader,
.galleryHeader {
  font-size: 3.5rem;
  line-height: 4rem;
  font-weight: 500;
  margin: 0 auto;

  @media (max-width: 672px) {
    max-width: 80vw;
    padding-bottom: 1rem;
  }
}

.aboutDesc,
.workDesc {
  padding-top: 1rem;
  margin: 0 auto;
  max-width: 75vw;
  font-size: 1.15rem;
  font-weight: 300;
}

.aboutDesc,
.workDesc p {
  text-align: left;
  padding-bottom: 1rem;
}

.navDisclaimer,
.previewDesc {
  margin: 0 auto;
  max-width: 75vw;
  font-family: serif;
  font-size: 0.85rem;
  line-height: 1.25rem;
  font-style: italic;
}

.navDisclaimerLink {
  border: 1px dotted #000;
  border-radius: 5px;
  padding: 0.25rem 0.25rem 0.25rem 0.55rem;
}

/* special emphasis on what i currently do */
.aboutDescCurrentRole {
  line-height: 1.75;
  font-size: 1.5rem !important;
  padding-bottom: 1rem;
  word-wrap: break-word;
}

.aboutDescCurrentRole a {
  border: 1px dotted #000;
  font-size: 1.25rem;
}

.aboutDescCurrentRole a:hover,
a:focus {
  border: 1.5px solid #000;
}

.resumeLink {
  line-height: 2;
}

.resumeLink a {
  border: 1.5px solid #5f7539;
  color: #5f7539;
}

.resumeLink a:hover,
.resumeLink a:focus {
  color: #fff;
  background-color: #819958;

  .spadeClickIcon path {
    fill: #fff;
    stroke: #fff;
  }
}

.workSubhed {
  /* same settings as aboutDescCurrentRole */
  line-height: 1.75;
  font-size: 1.5rem !important;
  font-weight: 400;
}

.workDesc {
  margin: 0 auto;
  text-align: center;
}

/* previewWrapper contains both previewImgDescContainer and previewGifContainer */
.previewWrapper {
  max-width: 75vw;
  margin: 5rem auto;
  /* border: 1px solid black; */
  position: relative;
}

/* START styling for 'award' badge (awardSwap is in previewSwap component) */

.awardContainer {
  position: absolute;
  top: -2rem;
  left: 0rem;
  transform: rotate(45deg);
  font-size: 2.25rem;
}

.awardContainer.container-0 {
  top: 15vh;
  left: 70vw;
}

/* if more than one award */
.awardContainer.container-1 {
  top: 35vh;
  left: 5vw;

  @media (max-width: 672px) {
    top: 25vh;
    left: -10vw;
  }
}

.awardContainer.container-2 {
  top: 50vh;
  left: 2vw;

  @media (max-width: 672px) {
    top: 50vh;
    left: -10vw;
  }
}

.awardContainer.container-3 {
  top: 10rem;
  left: -3rem;

  @media (max-width: 672px) {
    top: 33vh;
    left: 66vw;
  }
}

.awardContainer.container-4 {
  top: 4rem;
  left: 4rem;

  @media (max-width: 672px) {
    top: 60vh;
    left: 70vw;
  }
}

.awardContainer.container-5 {
  top: 14rem;
  left: 5rem;
}

.award {
  background-color: rgb(153, 172, 120);
  /* border: 1px solid #99AC78; */
  width: 4rem;
  height: 4rem;
  position: relative;
  text-align: center;
}
.award:before,
.award:after {
  content: "👑";
  position: absolute;
  top: 0;
  left: 0;
  height: 4rem;
  width: 4rem;
  background-color: rgb(153, 172, 120);
  /* border: 1px solid #99AC78; */
}
.award:before {
  transform: rotate(-30deg);
}
.award:after {
  transform: rotate(-60deg);
}

/* absolutely positioned, NOT relative to award */
/* match position of container-{i} to text-{i} */
.awardText {
  color: #5f7539;
  max-width: 5rem;
  position: absolute;
  top: -4.75rem;
  left: -1.5rem;
  font-size: 0.65rem;
  line-height: 1.3;
  transform: rotate(-15deg);
}

.awardText.text-0 {
  top: -4.75rem;
  left: -1.5rem;
}

.awardText.text-1 {
  /* container-1 top: 5rem; left: -1.5rem; */
  top: 2.25rem;
  left: -3rem;
}

.awardText.text-2 {
  /* container-2 top: 10rem; left: 2rem;  */
  top: 7.5rem;
  left: 0.5rem;
}

.awardText.text-3 {
  /* container-3 top: 10rem; left: -3rem;   */
  top: 8rem;
  left: -4rem;
}

.awardText.text-4 {
  /* container-4 top: 4rem; left: 4rem;   */
  top: 1.25rem;
  left: 2.5rem;
}

.awardText.text-5 {
  top: 14rem;
  left: 5rem;
}

/* absolutely positioned, NOT relative to award */
.awardSwapText {
  color: #5f7539;
  max-width: 5rem;
  position: absolute;
  top: -4.75rem;
  right: -3.25rem;
  font-size: 0.65rem;
  line-height: 1.3;
  transform: rotate(15deg);
}

/* END styling for 'award' badge */

/* START styling for the actual mobile/desktop previews */

.previewHed {
  margin: 2.5rem auto;
  max-width: 75vw;
  font-weight: 400;
}

.previewImgDescContainer {
  max-width: 45vw;
  display: inline-block;

  @media (max-width: 672px) {
    max-width: 100vw;
  }
}

.previewImgContainer.three {
  margin: 0 0 0 -10%; /* -10% is to center the description with the images */

  @media (max-width: 672px) {
    margin: 0 2.5% 0 -25%; /* -10% is to center the description with the images */
  }
}

.previewImgContainer.five {
  margin: 0 0 0 -20%; /* -20% is to center the description with the images */

  @media (max-width: 672px) {
    margin: 0 5% 0 -35%; /* -10% is to center the description with the images */
  }
}

.previewImgContainer.six {
  margin: 0 30% 0 5%;

  @media (max-width: 672px) {
    margin: 0 12.5% 0 -30%; /* -10% is to center the description with the images */
  }
}

.previewDesc {
  font-family: serif;
  max-width: 30vw;
  padding-top: 0.5rem;
  margin: 0 auto;
  text-wrap: balance;
  line-height: 1.5;

  @media (max-width: 672px) {
    max-width: 75vw;
    text-wrap: balance;
    padding-bottom: 1.25rem;
  }

  p {
    text-align: center;
  }

  .previewUrl {
    margin: 0 -15rem;
    white-space: nowrap;
    text-align: center;
  }
}

.previewImgContainer img {
  border-radius: 10px;
  display: inline-block;
  max-width: 15vw;
  filter: drop-shadow(#909090 0.1rem 0.1rem 0.1rem);

  @media (max-width: 672px) {
    max-width: 40vw;
  }
}

.three img {
  margin-right: -10%;

  @media (max-width: 672px) {
    margin-right: -25%;
  }
}

.five img {
  margin-right: -20%;

  @media (max-width: 672px) {
    margin-right: -33.3%;
  }
}

.six img {
  margin-right: -45%;

  @media (max-width: 672px) {
    margin-right: -40%;
  }
}

.previewImgContainer img:hover,
img:active,
img:focus {
  outline: 2.5px solid #7ca735;
}

.previewImg:hover,
.previewImg:focus {
  transition: margin-right 1s ease-out;
  margin-right: 0%;
}

.previewGifContainer {
  display: inline-block;
  max-width: 25vw;

  @media (max-width: 672px) {
    max-width: 100vw;
    padding-bottom: 1.25rem;
  }
}

.previewGif {
  border-radius: 10px;
  /* height: 100%;  */
  max-width: 20vw;
  /* filter: drop-shadow(#909090 0.1rem 0.1rem .1rem); */

  @media (max-width: 672px) {
    max-width: 75vw;
  }
}

/* to avoid vestibular motion triggers */
/* IMPROVE */
@media (prefers-reduced-motion: reduce) {
  .previewImg:hover,
  previewImg:hover {
    transition: margin-right 3s ease-out;
    margin-right: 0%;
  }
}

/* END styling for the actual mobile/desktop previews */

/* START styling gallery */

.galleryWrapper {
  padding-bottom: 2rem;
}

.galleryGrid {
  max-width: 90vw;
  margin: 0 auto;
  padding-top: 2rem;

  /* for the masonry effect, css only! */
  column-width: 200px;
  column-gap: 0.75rem;

  > div + div {
    margin-top: 0.75rem;
  }

  > div > img {
    width: 100%;
  }

  .galleryGraphic {
    position: relative;
  }

  .galleryGraphicDesc {
    font-family: serif;
    font-size: 0.75rem;
    text-align: center;
    padding-top: 0.25rem;
  }

  .galleryGraphicUrl {
    position: absolute;
    top: 5px;
    left: 85%;

    @media (max-width: 672px) {
      left: 90%;
    }
  }
}
/* END styling gallery */

.contactSection {
  padding-bottom: 2rem;
}

.contactHeader {
  font-size: 2.5rem;
  line-height: 3.5rem;
  font-weight: 500;
  margin: 0 auto;
  max-width: 75vw;
  padding-bottom: 1rem;

  @media (max-width: 672px) {
    max-width: 80vw;
    padding-bottom: 1rem;
  }
}

.backToNavLink {
  font-family: serif;
  font-size: 0.85rem;
  font-style: italic;
}
